In [6]:
import numpy as np
import h5py
import os, sys
sys.path.append('/Users/ajc/Core/codes/simulator/debug/ats/tools/utils/')
import parse_ats

In [2]:
path = "/Users/ajc/FUSE/simulations/barrow_icewedges/hydrologic_connection/ProjectionsF/"

In [7]:
Simulations = ['CESM_C1','CESM_C1A']#,'CESM_C1B']#,['CESM_C2'], ['CESM_C3', 'CESM_C3A', 'CESM_C3B', 'CESM_C3C']]

In [9]:
for s in Simulations:
    dirname = os.path.join(path,s)
    keys,times,dats = parse_ats.readATS(dirname, "visdump_surface_data.h5")

<HDF5 file "visdump_surface_data.h5" (mode r)>
<HDF5 file "visdump_surface_data.h5" (mode r)>

In [11]:
len(keys)

3565

In [14]:
import pandas as pd
x1 = [0,1,2]
x2 = [3,4,5,4]
d = pd.DataFrame([x1,x2])

In [15]:
d

   0  1  2    3
0  0  1  2  NaN
1  3  4  5  4.0